<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <form
      class="container"
      id="registerForm"
      name="registerForm"
      onsubmit="return handleSubmit()"
      autocomplete="off"
    >
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  <script type="text/javascript">
    function handleSubmit(event) {
      const form = document.querySelector("form");
      const data = Object.fromEntries(new FormData(form).entries());
      console.log(data);
      fetch("http://localhost:7890/user", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((d) => d.json())
        .then((d) => console.log(d))
        .catch((e) => console.error(e));
      return false;
    }
  </script>
</html>
