.login,
.register {
  margin-top: 5%;
  width: 35%;
  padding: 3%;
}

.addOrUpdate {
  margin-top: 2%;
  width: 55%;
  padding: 2%;
}
.job-list,
.job-details {
  margin-top: 2%;
}
.technology {
  margin-right: 3%;
}

.job-btn:hover {
  cursor: pointer;
}
