<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body style="background: rgba(128, 128, 128, 0.726)">
    <%- include("../partials/header.ejs") %>
    <div class="container card login">
      <h4 class="text-center font-weight-bold">Login</h4>
      <form
        id="loginForm"
        name="loginForm"
        class="loginForm"
        onsubmit="return handleSubmit()"
        autocomplete="off"
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    function handleSubmit(event) {
      const form = document.querySelector("form");
      const data = Object.fromEntries(new FormData(form).entries());
      fetch("http://localhost:7890/user/login", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((d) => d.json())
        .then((payload) => console.log(payload))
        .catch((e) => console.error(e));
      return false;
    }
  </script>
</html>
